* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
}

div {
  display: inline-block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  /* background-color: #1daf29; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  min-height: 200px;
  border: 3px solid #0c0b0c;
}

.key {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  min-width: 40px;
  height: 40px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  /* border: 3px solid #1f1d22; */
  background-color: #19201f;
  transition: all 0.2s;
}

.active {
  transition: all 0.2s;
  border-radius: 20px;
  background-color: #636360;
}